<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="../../design/style/favicon.png">
    <link rel="stylesheet" href="../../design/style/web.css" type="text/css"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Сайт</title>
</head>
<body>

<div class="base">
    <div class="page_fixer"></div>
    <div class="leftbar">
        <a class="head logo" href="/">
            <img src="../../design/style/logoBG.png"> </a>

        <a class="left_l">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>

                        &#160;
                    </td>
                    <td>
                        контент
                    </td>
                </tr>
            </table>
        </a>
        <div class="left_r">Категорії сайта</div>
        <a class="left_l" href="/pages/news/">Новинт</a>
        <a class="left_l" href="/pages/diaries/">Дописи в блогах</a>
        <a class="left_l" href="/pages/mchat/">VIP статус</a>
        <a class="left_l" href="/pages/user.files/?menu=all">Знайомства</a>
        <a class="left_l" href="/pages/forum/">Додадткові послуги</a>
        <a class="left_l" href="/pages/users/">користувачі</a>
        <div class="left_r">Налаштування</div>

        <a class="left_l" href="/pages/panel/">Админ-панель</a>
        <a class="left_l" href="/pages/personal/?menu=settings">Налаштування</a>
        <a class="left_l" href="/pages/help.php">Допомога</a>
        <a class="left_l" href="/?logout">Вихід</a>


    </div>
    <div class="rightbar">

        <table style="width:100%" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="vertical-align:top;width:19%;border-right:none !important;">
                    <a class="head" href="/pages/personal/" title="Личный кабинет">
                        <img class="icon" src="../../design/imgs/profile_man_b.png" alt="Личный кабинет">
                    </a>
                </td>
                <td style="vertical-align:top;width:20%;">
                    <a class="head" href="/pages/mail/" title="Почта">
                        <img class="icon" src="../../design/imgs/qlt_mailn_b.png" alt="Почта">
                        </span> </a>
                </td>
                <td style="vertical-align:top;width:19%;">
                    <a class="head" href="/pages/notifications/" title="Журнал">
                        <img class="icon" src="../../design/imgs/qlt_journaln_b.png" alt="Жур">
                    </a>
                </td>
                <td style="vertical-align:top;width:21%;">
                    <a class="head" href="/pages/help.php" title="">
                        <img class="icon" src="../../design/imgs/qlt_lenta2n_b.png" alt="">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


        <div class="title"><a href="index.php">Профіль</a> / Ваш особистий профіль</div>

        <div class='info'>
            <div class='i_info'>Налаштування збереженні.</div>
        </div>


        <div class='post'>контент</div>


        <div class="post">
            контент
        </div>
